*{
margin: 0;
padding: 0;
box-sizing:border-box;
font-family: "helvetica";
}
html{
    scroll-behavior: smooth;
}
/* html,body{
    margin: 0;
    padding: 0;
} */
.active{
    font-weight: 700;
}
.hover-animation{
    display: inline-block;
    position: relative;
    color:#0087ca;
}
.hamburgur{
    display: none;
    font-size: 20px;
}
.wrapper{
    height: 100vh;
    margin: auto;
    max-width: 85%;
    position: relative;
    & .nav{
        padding: 0 100px;
        position: fixed;
        height: 10%;
        width: 100%;
        /* margin: auto; */
        z-index: 1000;
        top: 0;
        left: 0;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: space-between;


        /*?--------- glassmorphism--------- */
        background: rgba(255, 255, 255, 0.8);
        /* box-shadow: 0 8px 32px 0 rgba(225, 225, 225, 0.37); */
        backdrop-filter: blur( 12px );
        -webkit-backdrop-filter: blur( 150px );
        border-radius: 10px;
        border: 2px solid rgba(213, 213, 213, 0.18);
        /*?--------- glassmorphism--------- */


        & .left{
            & a{
                text-decoration: none;
                color: black;
            }
        }
        & .right{
            display: flex;
            gap: 3em;
            & a{
                text-decoration: none;
                color: black;
                & span{
                    padding: 10px 40px;
                    border-radius: 20px;
                    border: 1px solid black;
                    font-size: 15px;
                    font-weight: 600;
                    cursor: pointer;
                    background-color: black;
                    color: white;
                }
                & span:hover{
                    background-color: transparent;
                    color: black;
                }
                
            }
            & a:hover{
                color: #2b88f5;
            }
            
            & :after{
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color:#0087ca;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }
            & a:hover:after{
                transform: scaleX(1);
                transform-origin: bottom left;
            }
            & a:last-child:after{
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color:#0087ca;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }
            
        }
    }
    & .home{
        height: 100vh;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        max-width: 85%;


        background-image: radial-gradient(circle at 15% 65%,rgba(253,24,158,.2),hsla(0,0%,100%,0) 15%),radial-gradient(circle at 85% 25%,rgba(0,112,243,.2),hsla(0,0%,100%,0) 15%);

        & .right{
            & img{
                height: auto;
                width: 280%;
                margin-left: -300px;
                margin-right: 100px;
            }
        }
        & .left{
            margin: 10% 0;
            & h1{
                font-size: 45px;
            }
            & h1:nth-child(2){
                color: #666666;
            }
            & p{
                margin: 2% 0 5% 0;
                width: 60%;
                font-size: 20px;
                line-height: 150%;
                color: #666666;

            }
            & div{
                display: flex;
                gap: 2em;
                & button{
                    padding: 8px 40px;
                    border-radius: 20px;
                    border: 1px solid black;
                    font-size: 15px;
                    font-weight: 600;
                    cursor: pointer;
                    & i{
                        font-size: 20px;
                    }
                }
                & button:nth-child(1){
                    background-color: black;
                    color: white;
                    
                }
                & button:nth-child(1):hover{
                    background-color: transparent;
                    color: black;
                }
                & a:nth-child(2){
                    & button:nth-child(1){
                        background-color: transparent;
                        border: 1px solid #dbdbdb;
                        color: black;
                    }
                    & button:nth-child(1):hover{
                        border: 1px solid black;
                    }
                }
                
            }
        }
    }

    & .about{
        /* height: 10vh; */
        /* background-color: red; */
        border-top: 1px solid #e0e0e0;
        padding: 6% 0;
        width: 85% ;
        margin: auto;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30em;
        & .left{
            & h2{
                color: #4898f6;
                font-weight: 200;
                font-size: 15px;
            }
            & h1{
                margin: 5% 0 10% 0;
                width: 300%;
                & sub{
                    /* margin-top: 10%; */
                    font-weight: 500;
                    font-size: 24px;
                    font-style: italic;
                }
            }
            & p{
                width: 300%;
                line-height: 25px;
            }
            & button{
                margin-top: 20%;
                padding: 8px 40px;
                border-radius: 20px;
                border: 1px solid black;
                font-size: 15px;
                font-weight: 600;
                cursor: pointer;
                background-color: black;
                color: white;
            }
            & button:hover{
                background-color: white;
                color: black;
            }
        }
        & .right{
            & img{
                height: auto;
                width: 70%;
                border-radius: 50px;
                border: 2px solid #000;
            }
        }
    }
    & .project{
        border-top: 1px solid #e0e0e0;
        padding: 6% 0;
        width: 85% ;
        margin: auto;
        height: 150vh;
        /*! height: 150vh; */
        & h2{
            color: #4898f6;
            font-weight: 200;
            font-size: 15px;
            margin-bottom: 5px;
        }
        & h1{
            font-size: 35px;
            margin-bottom: 30px;
        }
        & .project-card{
            margin-bottom: 5%;
            font-size: calc(100% - 10px);
            display: flex;
            /* justify-content: space-between; */
            align-items: start;
            /* background-color: red; */
            /* gap: 1em; */
            & .left{
                margin-left: -10px;
                & img{
                    height: auto;
                    width: 50%;
                    /* width: 75%; */
                    border-radius: 10px;
                }
            }
            & .right{
                margin-left: -350px;
                /* line-height: ; */
                & div{
                    display: flex;
                    justify-content: start;
                    gap:1em;
                    font-size: 16px;
                    width: 300px;
                    margin-bottom: 3%;
                    & p{
                        font-size: 13px;
                        padding: 6px 10px;
                        border-radius: 6px;
                        color: #2b88f5;
                        background-color: #e5f1ff;
                    }

                }
                & h1{
                    /* margin-bottom: -10px; */
                    /* text-wrap: nowrap; */
                    margin-top: -8px;
                    font-weight: 550;
                    font-size: 35px;
                }
                & p{
                    /* width: 50%; */
                    margin-top: -15px;
                    color: #666666;
                    font-size: 15px;
                    /* margin-bottom: 8%; */
                }
                & div{
                    display: flex;
                    gap: 2em;
                    & a{
                        & button{
                        margin-top: 1.8rem;
                        width: 100%;
                        text-wrap: nowrap;
                        padding: 8px 35px;
                        border-radius: 10px;
                        border: 1px solid black;
                        font-size: 15px;
                        font-weight: 600;
                        cursor: pointer;
                    }
                    & button:nth-child(1){
                        background-color: black;
                        color: white;
                        
                    }
                    & button:nth-child(1):hover{
                        background-color: white;
                        color: black;
                    }
                   
                    }
                    
                }
            }
        }
    }
    #code{
        background-color: white;
        color: black;
        border: 1px solid #e0e0e0;
    }
    #code:hover{
        border: 1px solid black;
    }
    & .contact{
        border-top: 1px solid rgb(227, 227, 227);
        padding-top: 5%;
        height: 100vh;
        max-width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        gap: 5em;
        & .left{
            font-size: 15px;
            & .input-container{
                position: relative;
                margin-bottom: 5%;
                & input{
                    font-size: 15px;
                    color: #666666;
                    width: 100%;
                    margin: 1% 0 3% 0;
                    padding: 15px;
                    border-radius: 10px;
                    border: 1px solid #e3e3e3;
                    background-color: #f7f7f7;
                    position: relative;
                }
                & #copy{
                    position: absolute;
                    cursor: pointer;
                    padding: 6px;
                    border-radius: 10px;
                    top: 21%;
                    left: 92%;
                    color: #666666;
                }
                & #copy:hover{
                    background-color: rgb(232, 232, 232);

                }
                #check{
                    display: none;
                    position: absolute;
                    cursor: pointer;
                    padding: 6px;
                    border-radius: 10px;
                    top: 21%;
                    left: 92%;
                    color: #666666;
                }
                #tag{
                    display: none;  
                    position: absolute;
                    cursor: pointer;
                    padding: 3px 6px;
                    border-radius: 7px;
                    top: -20%;
                    left: 74%;
                    color: white;
                    font-size: 10px;
                    text-wrap: nowrap;
                    background-color: black;
                }
            }
            & p{
                margin: 5% 0 8% 0;
                color: #666666;
                line-height: 30px;
            }
            & .social{
                font-size: 25px;
                display: flex;
                gap: 2em;
                margin-top: 3%;
                cursor: pointer;  
                    & i{
                        border: 1px solid rgb(224, 224, 224);
                        border-radius: 50%;
                        padding: 2%;
                        font-weight: 500;
                    }
                    & i:hover{
                        border: 1px solid black;
                    }
                
            }
            
        }
        & .right{
            width: 50%;
            & form{
                & label{
                    font-size: 15px;
                    margin-bottom: 2%;
                }
                & input{
                    margin: 2% 0;
                    width: 100%;
                    font-size: 15px;
                    padding: 15px;
                    border-radius: 10px;
                    border: 1px solid rgb(216, 216, 216);
                }
                & input::placeholder{
                    color: #d0d0d0;
                }
                & #message{
                    height: 20%;
                    padding-bottom: 20%;
                }
                & button{
                    text-wrap: nowrap;
                    padding: 10px 40px;
                    font-size: 15px;
                    font-weight: 600;
                    border-radius: 50px;
                    border: 1px solid black; 
                    background-color: black;
                    color: white;
                    cursor: pointer;
                    margin-left: 62.5%;
                    margin-top: 6%;
                }
                & button:hover{
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e0e0e0;
    padding: 20px 0;
    & .left{
        & p{
            color: #666666;
            font-size: 15px;
        }  
    }
    & .right{
        & a{
            text-decoration: none;
            color: black;
        }
    }
}

/*!----------------- mediaQuery---------------------- */
/* for mobile phones */
@media screen and (min-width: 320px) 
and (max-width: 480px) 
 {
    body{
        max-width: 1vw;
        overflow-x: hidden;
        background-color: red;
    }
    /* .wrapper{
        
    } */
}

/* for tablets  */
/* @media screen and (min-width: 481px) 
and (max-width: 768px) 
 {
    body{
        background-color: red;
    }
} */

/* for desktops */
/* @media screen and (min-width: 769px) 
and (max-width: 1920px) 
 {
    body{
        background-color: red;
    }
} */

